{% extends 'base.html.twig' %}
{% block body %}

    {*the main text + css*}
    <p class="main-text">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus diam turpis, elementum non elementum eu, volutpat malesuada felis. Fusce porta ultricies risus vitae bibendum. Cras eu augue eu mi aliquam tristique non et elit. Pellentesque dictum lacus tellus, vel vestibulum dui dapibus sed. Duis mattis justo ac libero lobortis sollicitudin. Pellentesque interdum sed lacus vitae euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ut metus eu risus bibendum tincidunt. Proin in turpis rutrum, finibus ex vitae, convallis elit. Ut nulla lectus, vulputate non consequat quis, ultricies at nulla. Nunc nibh augue, egestas ultrices dignissim ac, sodales eget lorem. Nunc condimentum, ex quis semper finibus, ante magna dignissim purus, eget efficitur lacus tortor ac diam. Donec ornare, nisi ut commodo congue, mauris tortor tincidunt eros, varius sollicitudin ipsum magna a nibh. Aliquam id nibh sit amet tortor interdum mattis ac non mauris.Ut ut augue sit amet erat maximus mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque non purus sollicitudin, ullamcorper sem tincidunt, iaculis risus. Etiam a posuere tortor, ac volutpat massa. Vestibulum maximus ut magna id interdum. In lobortis consequat varius. Nulla lobortis tortor eget magna venenatis vestibulum vel id tortor. Nullam sagittis, libero eget molestie porttitor, arcu mi pretium elit, sed venenatis arcu sem iaculis turpis. Cras at enim et ipsum faucibus dapibus quis a velit. Vestibulum egestas libero sed vestibulum ornare. Etiam sodales nibh sit amet fringilla rhoncus.
        Suspendisse consectetur laoreet lacus, eu scelerisque erat molestie et. Donec facilisis nisi sed velit vulputate convallis. Phasellus placerat egestas urna in convallis. Quisque vitae tellus iaculis, fermentum eros a, volutpat nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Sed tincidunt ornare eros vel maximus. Mauris urna odio, imperdiet et enim non, egestas mattis quam. Sed felis velit, vulputate sit amet elementum ut, sagittis eu neque. Duis semper rhoncus diam, iaculis efficitur massa convallis vel. Phasellus egestas ante tincidunt erat efficitur sollicitudin. In hac habitasse platea dictumst. In vitae ipsum sem. Nam tristique dapibus augue, eget elementum est.
        Nam non congue arcu. Sed consectetur magna ex, eu auctor dui venenatis at. Curabitur sodales arcu quis dolor vehicula, feugiat posuere sapien sagittis. Nunc sit amet ante lacinia, pulvinar justo posuere, cursus dolor. Nulla facilisi. Nulla dapibus turpis et diam rutrum porttitor. Fusce nec luctus ante. Pellentesque vestibulum turpis dolor, vel facilisis risus pellentesque a.
        Nunc a tincidunt lacus, quis laoreet libero. Quisque orci justo, consectetur vel lobortis commodo, molestie et erat. Nullam risus felis, blandit non nulla id, accumsan finibus dolor. Cras fermentum, risus vitae ullamcorper pellentesque, nibh nisl convallis augue, ut laoreet metus nisi in tellus. Sed vitae egestas ex. Nunc nec semper erat, at suscipit metus. Donec sit amet augue orci.

    </p>

    {*the html for my button*}
    <button onclick="myFunction()">Click me</button>

{% endblock body %}
