{% extends '::base.html.twig' %}

{% block body  %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at purus quis leo condimentum sollicitudin eu et
        quam. Mauris nulla lacus, molestie eu fermentum eu, hendrerit eget felis. Praesent hendrerit ultricies imperdiet.
        Phasellus dolor nunc, placerat ut nisi sed, vehicula aliquam eros. Ut faucibus luctus purus, eget egestas nisi
        varius quis. Aenean vitae magna dolor. Sed vel dapibus urna. Aenean eu libero tristique, convallis ligula eget,
        hendrerit nulla. Quisque imperdiet commodo pretium. Donec nec dignissim nunc, ut cursus erat. Nam ultricies,
        tellus in eleifend viverra, magna purus tempus dui, ut vulputate nulla velit id turpis. Curabitur in accumsan justo.
        Curabitur id diam diam. Sed nec cursus augue, sed ultricies mauris. Curabitur gravida lorem sit amet porta
        fringilla. Curabitur vitae est nec leo convallis accumsan. Praesent sollicitudin quam auctor mollis aliquam.
        Nunc condimentum nec nisi sed tincidunt. Pellentesque congue, neque in gravida pharetra, ipsum mi maximus metus,
        ut tristique nisi orci vitae magna. Donec ullamcorper neque eget magna tempor condimentum. Nullam sollicitudin
        in neque eu congue. Mauris porta at neque in commodo.
        Fusce vitae maximus neque. Duis nec molestie augue, a vehicula tortor. Proin vulputate sollicitudin fringilla.
        Duis arcu dolor, commodo et est id, ullamcorper sodales quam. Aenean nec nisl suscipit, aliquet lacus fermentum,
        tristique eros. Donec tortor elit, tristique nec est ac, placerat suscipit augue. In est ipsum, semper vel sapien
        id, tempor dignissim diam. Nulla ultricies rhoncus nisi eget lobortis. Aenean congue blandit tortor, et facilisis
        mauris sagittis eget. Nullam tempor lectus vel justo tincidunt, vitae luctus turpis blandit. Morbi aliquam
        vestibulum nisi tincidunt dictum. In hac habitasse platea dictumst. Nam suscipit sapien in tellus ultrices gravida.
        Sed magna libero, semper ac mauris ut, viverra maximus dui. Duis maximus libero eget nulla placerat porttitor.
        In luctus mollis erat eget interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse
        luctus mi ut dolor hendrerit, at ornare libero vestibulum. Morbi venenatis nulla eu gravida tincidunt. Maecenas
        ac sem in turpis porta fermentum. Maecenas at massa dictum, cursus nisl quis, rhoncus erat. Aliquam pretium
        congue dolor, aliquet consectetur elit blandit id. Cras cursus odio vitae rhoncus sodales. Nullam vehicula velit
        a odio aliquet volutpat. Ut mi orci, scelerisque vitae consectetur ac, blandit quis ante.
        Vivamus nec lorem consectetur, condimentum enim id, malesuada quam. Ut urna eros, accumsan sollicitudin turpis
        fringilla, scelerisque viverra ante. Suspendisse malesuada ante a nunc efficitur eleifend. In hac habitasse
        platea dictumst. Integer euismod, ante at venenatis tincidunt, est tortor congue turpis, sed ultrices leo ex
        quis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac diam bibendum, imperdiet nunc
        ac, venenatis libero. Aliquam velit sem, facilisis nec metus at, cursus interdum odio. Aliquam erat volutpat.
        Praesent ut semper neque, eget sollicitudin velit. Donec lorem nulla, lobortis eu aliquam luctus,
        placerat a lorem. Nulla in est sit amet orci sagittis volutpat at nec nulla. Integer et purus id odio fermentum
        imperdiet vitae vel metus. Praesent lacus lectus, luctus eget lacus eu, rhoncus feugiat lacus. Aenean egestas
        eros vitae dui porta placerat. Suspendisse potenti.

    </p>

    <hr/>

    {# This is a commment #}
    {# Gets this from the controller #}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}